body {
    background-color: #31687d;
    background-image: cover;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.overskrift{
    color: #2ac9ae;
}

#hud {
    padding: 10px;
    border: 2px solid black;
    margin: 10px;
    background-color: #573391;
}